@font-face{
	font-family: "Courier";
	src: url('fonts/cour.ttf');
}

body, html{
	font-family: "Courier", "Courier New";
	margin: 0;
	padding: 0;
}

.top-buffer { margin-top: 10px; }

.pagination{
	margin: 10px 0;
}
.pagination .previous{
	text-align: left;
}
.pagination .home{
	text-align: center;
}
.pagination .next{
	text-align: right;
}
.pagination::after{
	content: ' ';
	display: block;
	height: 1px;
	width: 100%;
	background-color: #bdc3c7;
	margin: 5px 0;
}

.bd{
	background-color: #ecf0f1;
}
.bd .titre{
	padding: 10px;
	font-weight: bold;
}
.bd .content{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px 10px;
}
.bd .content img{
	max-width: 100%;
}

.footer{
	text-align: right;
}